{{!-- Make template here with button to add/ devour burgers --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Eat Da Burger! </h1>
    <img src = "../public/assets/img/burgerImage.jpg">
    
    <div class = "uneatenBurgers">
        <h3>Available Burgers</h3>
        <div id = "uneatenBurgerList">
        </div>
    </div>
    
    <div class = "inputBurger">
        <input type="text">
        <button type = "submit">Add Burger</button>
    </div>

    <div class = "eatenBurgers">
        <h3>Devoured Burgers</h3>
        <div id = "eatenBurgerList">
        </div>
    </div>
</body>
</html>